//Color Variables
$color-primary: #56ccf2;
$color-secondary: #0c0023;
$color-tertiary: #090118;
$color-white: #fff;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: $color-white;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-white;
}
