.container {
  max-width: 115rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2rem;
}
.line {
  height: 0.3rem;
  background-color: $color-primary;
  animation: addWidth 1.2s;
}
.btn {
  padding: 1.2rem 2rem;
  width: 35%;
  font-size: 2rem;
  background-color: $color-primary;
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: rgba($color-primary, 0.7);
  }
}

@keyframes addWidth {
  0% {
    width: 0rem;
  }

  100% {
    width: 45rem;
  }
}
